
.form-text {
  padding-bottom: 2%;

}

.form-input {
  width: 40%;
  height: 20%;
  padding: 1% 2%;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
  border: 1px solid white;

}
.form-button {
  padding: 0.5% 1.5%;
  border: 1px solid rgba(0, 0, 0, 0);

}
.form-button:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
img {
  height: 25%;
  width:25%;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
